.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://wallpaperaccess.com/full/1079101.jpg);
    background-size: cover;
    
}

.loginTitle{
    color: white;
    font-size: 60px;
}

.loginform > label{
    color: rgb(202, 192, 192);
    margin:10px 0;
    font-size: 20px;

}

.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.loginform > input{
    padding: 10px;
    background-color: white;
    border: none;
    
}

.logbu{
    margin-top:20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}