.header{
    margin-top:60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Lora', 'serif';
    color: wheat;
}

.headertitlePq{
    position: absolute;
    top: 15%;
    left: 44%;
    font-size: 25px;
}
.headertitleRs{
    position: absolute;
    top: 21%;
    left: 47%;
    font-size: 25px;
}
.headertitleMn{
    position: absolute;
    top: 28%;
    left: 43.5%;
    font-size: 25px;

}

.headerimg{
    width: 100%;
    height: 450 px;
    margin-top: -50px;
    object-fit: cover;
}